<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            Análise e Desenvolvimento de Sistemas (ADS)
          </h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn text-muted">Ver mais</a>
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Ciências da Computação</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn text-muted">Ver mais</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Gestão Empresarial (GE)</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn text-muted">Ver mais</a>
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Gestão de TI (GTI)</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn text-muted">Ver mais</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Eventos</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn text-muted">Ver mais</a>
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Mecatrônica</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn text-muted">Ver mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
